h1 {
    color: red;
}

img {
    max-width: 200px;
    max-height: 500px; 
}
.banner {
    font-family: 'Open Sans', serif;
    font-size: 2rem;
    color: solid black;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}    
.menu {
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 40px;
    padding-top: 20px;
    margin: 20 px;
    
}
nav a {
    text-decoration: none;

}
.brand {
    background-image: url(../img/soft-water.jpg);
    height: 700px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}
.brand-content {
    text-align: center;
    font-size: 36px;
    font-family: serif;
    padding-top: 250px;
}
.delivery-form {
    padding-left: 100px;
    padding-top: 100px;
    height: 250px;
    margin-top: 50px;
    padding-right: 150px;
    padding-bottom: 100px;
    background-color: white;
    font-size: 18px;
    width: 100px;
}
.foundation {
    display: flex;
    flex: wrap;
}

.form-blok {
    padding-bottom: 50px;
    padding-right: 20px;
    text-align: center;
}
.for-home .for-office {
    display: flex;
}

}
.forma {
    margin-left: 250px;
    margin-bottom: 200px;

}
.products {
    display: flex;
}
.product-card {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
} 
.foundation {
    font-size: 24px;
    font-family: Arial;
}
.product-lemon {
    width: 500px;
    height: 500 px;
}