h1 {
    color: red;
}
.banner {
    font-family: 'Open Sans', serif;
    font-size: 2rem;
    background-color: green;
    color: solid black;
    text-align: center;
    text-transform: uppercase;
}    
.menu {
    text transform: uppercase;
    padding: 0px;
    marging: 20 px;
    color: grey;
}
.products img {
    width: 200px;
    height: 0px;
    display: row;
}
    

